@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Lexend&family=Red+Hat+Display&display=swap');

.page-title {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

.artwork {
    width: 35vw;
    height: auto;
    margin: 5vh;
    border: 4vh;
    border-color: black;
}

.artwork:hover {
    cursor: pointer;
}